<ion-header>
  <ion-navbar>
    <ion-title *ngIf="peripheral && peripheral.name">
      {{ 'Datos de ' + peripheral.name }}
    </ion-title>
    <ion-title *ngIf="!peripheral">
      {{ 'Datos' }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button round (click)="showForm()">Llenar Cuestionario</button>
  <ion-toolbar *ngIf="!device; else deviceExists">
    <h4>¡No has seleccionado un dispositivo!</h4>
    <p>Ve a la pestaña conectar</p>
  </ion-toolbar>
  <ng-template #deviceExists>
    <!-- <button ion-button round (click)="saveFile()">Guardar</button> -->

    <button ion-button round (click)="connect()" [disabled]="isConnected">Reconectar</button>

    <div *ngIf="peripheral">
      <ion-card *ngIf="instructions">
        <ion-card-content>
          <h1>{{ instructions }}</h1>
          <h3 *ngIf="percent"><br>{{ percent }} % </h3>
        </ion-card-content>
        <ion-list *ngIf="glucose">
          <ion-item>
            <h1>
              <strong>Glucosa Estimada: </strong><br>
              {{ glucose }}
            </h1>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="tempFinger || tempExternal">
          <ion-item *ngIf="tempFinger">
            <strong>Temperatura Dedo: </strong>{{ tempFinger }}
          </ion-item>
          <ion-item *ngIf="tempExternal">
            <strong>Temperatura Externa: </strong>{{ tempExternal }}
          </ion-item>
        </ion-list>
      </ion-card>
      <button *ngIf="enableResendGlucose" ion-button round (click)="sendGlucose()">Reenviar Glucosa</button>
      <button ion-button round (click)="details = !details">Ver/Ocultar detalles</button>
      <ion-card *ngIf="details">
          <ion-card-header>
            Services
          </ion-card-header>
          <ion-list>
            <ion-item *ngFor="let service of peripheral.services">
              {{service}}
            </ion-item>
          </ion-list>
        </ion-card>
      <ion-card *ngIf="details">
        <ion-card-header>
          Details
        </ion-card-header>
        <ion-card-content>
          <pre>{{ peripheral | json }}</pre>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-content>