<ion-header>
  <ion-toolbar>
    <ion-title>
      Ingresa tus datos para análisis
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon [ngClass]="{'visible': true}" name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formdata" (ngSubmit)="submitForm(formdata.value)">
    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select name="sexo" formControlName="sexo" placeholder="Seleccione" (ionChange)="changeSex($event)">
        <ion-option value="1">Femenino</ion-option>
        <ion-option value="0">Masculino</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>Edad</ion-label>
      <ion-input name="edad" formControlName="edad"  type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>Estatura (m)</ion-label>
      <ion-input name="estatura" formControlName="estatura" type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>Peso (kg)</ion-label>
      <ion-input name="peso" formControlName="peso" type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>Cintura (m)</ion-label>
      <ion-input name="cintura" formControlName="cintura" type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions && female">
      <ion-label>Número Hijos</ion-label>
      <ion-input name="numero_hijos" formControlName="numero_hijos" type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>Vasos de agua al día</ion-label>
      <ion-input name="vasos_agua_semana" formControlName="vasos_agua_semana" type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>Cigarrillos a la semana</ion-label>
      <ion-input name="cigarrillos_semana" formControlName="cigarrillos_semana" type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>Gaseosas a la semana</ion-label>
      <ion-input name="bebida_azucarada_semana" formControlName="bebida_azucarada_semana" type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>Micciones al día</ion-label>
      <ion-input name="miccion_semana" formControlName="miccion_semana" type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>Deporte por semana</ion-label>
      <ion-input name="deporte_semana" formControlName="deporte_semana" type="number" min="0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"></ion-input>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>¿Sufre de sensación de sed?</ion-label>
      <ion-select name="sed" formControlName="sed" placeholder="Seleccione">
        <ion-option value="true">Sí</ion-option>
        <ion-option value="false">No</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>¿Tiene diabetes?</ion-label>
      <ion-select name="diabetes" formControlName="diabetes" placeholder="Seleccione">
        <ion-option value="true">Sí</ion-option>
        <ion-option value="false">No</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showQuestions && female">
      <ion-label>¿Ha sufrido de diabetes gestacional?</ion-label>
      <ion-select name="diabetes_gestacional" formControlName="diabetes_gestacional" placeholder="Seleccione">
        <ion-option value="true">Sí</ion-option>
        <ion-option value="false">No</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showQuestions">
      <ion-label>¿Algún familiar sufre de diabetes?</ion-label>
      <ion-select name="antecedentes_familiares_glucosa" formControlName="antecedentes_familiares_glucosa" placeholder="Seleccione">
        <ion-option value="true">Sí</ion-option>
        <ion-option value="false">No</ion-option>
      </ion-select>
    </ion-item>
    <button *ngIf="showQuestions" ion-button type="submit" block>Guardar</button>
  </form>
</ion-content>