<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Dispositivos
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title>Selecciona un dispositivo</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngIf="recommendeDevice" (click)="choose(recommendeDevice)">
      <ion-avatar item-start>
        <img src="assets/imgs/glucose.png">
      </ion-avatar>
      <h2>Recommended:</h2>
      <p>{{recommendeDevice.name}}</p>
      <ion-note item-end>
      {{recommendeDevice.id}}
      </ion-note>
    </ion-item>
    <ion-item (click)="choose(dev)" *ngFor="let dev of devices">
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <h2>{{dev.name}}</h2>
      <p>{{dev.id}}</p>
    </ion-item>
  </ion-list>
</ion-content>