<ion-tabs #tabs>
  <ion-tab [root]="tab1Root" tabTitle="Conectar" tabIcon="bluetooth"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Datos" tabIcon="md-sync"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Créditos" tabIcon="heart"></ion-tab>
</ion-tabs>
