<ion-header>
  <ion-navbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Realizado por:</ion-list-header>
    <ion-item>
      <ion-icon name="mail" item-start></ion-icon>
      amirandar@correo.udistrital.edu.co
    </ion-item>
    <ion-item>
      <ion-icon name="logo-github" item-start></ion-icon>
      @Annie13Miranda
    </ion-item>
  </ion-list>
</ion-content>
