<ion-header>
  <ion-navbar>
    <ion-title>Glucose-Meter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-toolbar *ngIf="deviceConnected">
    <ion-title class="center-title">¡Ya has seleccionado<br>un dispositivo!</ion-title>
  </ion-toolbar>
  <h2>Busca un dispositivo para medir glucosa.</h2>
  <button ion-button round (click)="requestPermission()">Buscar Dispositivos</button>
  <br/>
  <button ion-button round (click)="showForm()">Llenar Cuestionario</button>
</ion-content>
